@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

.detail-page-container {
  max-width: 800px;
  margin: 0 auto;
}

.image-preview-aspect {
  aspect-ratio: 9 / 16;
}
